---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/Hero.astro";
import About from "../components/About.astro";
import Offers from "../components/Offers.astro";
import Testimonials from "../components/Testimonials.astro";
import HeroFooter from "../components/HeroFooter.astro";
---

<Layout title="Umbral Training">
  <main>
    <!-- Add Call To action, company Name and Button text2 -->
    <Hero buttonText="Empieza ahora" companyName="Umbral Training" />
    <About
      linkText="https://wa.me/+56944032001/"
      imageOne="gym-instructor.webp"
      ,
      imageTwo="gym-femaleinstructor.webp"
    />
    <Offers />
    <Testimonials />
    <HeroFooter callToAction="CONTÃCTANOS" />
  </main>
</Layout>
