---
interface Props {
  callToAction: string;
  buttonText: string;
  companyName: string;
  //    logoImage:string;
}
const { callToAction, buttonText, companyName } = Astro.props;

const imageURL = "hero-fitness-image.avif";
const bgStyle = {
  backgroundImage: `url('/images/${imageURL}')`,
};
---

<header
  class="bg-cover bg-center bg-no-repeat bg-gray-400 bg-blend-multiply"
  style={bgStyle}
>
  <nav class="text-white uppercase pt-8 p-4 font-bold2">
    <img src="/images/Umbral-Training.avif" alt="logo" class="w-40" />
  </nav>
  <div class="px-4 mx-auto max-w-screen-xl text-center py-36 text-white">
    <h1
      class="font-extrabold text-6xl md:text-9xl tracking-wide mb-4 uppercase italic"
    >
      {callToAction}
    </h1>
    <a href="https://wa.me/+56944032001/">
      <button class="yellowBG p-2 uppercase text-black font-bold"
        >{buttonText}</button
      >
    </a>
  </div>
</header>
