---
interface Props {
  buttonText: string;
  companyName: string;
  //    logoImage:string;
}
const { buttonText, companyName } = Astro.props;

const imageURL = "hero-fitness-image.avif";
const bgStyle = {
  backgroundImage: `url('/images/${imageURL}')`,
};
---

<nav class="text-white bg-black uppercase py-8 p-4 font-bold2">
  <img src="/images/Umbral-Training.avif" alt="logo" class="mx-auto w-56" />
</nav>
<header
  class="bg-contain bg-bottom bg-no-repeat w-full h-auto bg-blend-multiply"
  style={bgStyle}
>
  <div
    class="flex justify-center items-end px-4 mx-auto text-center text-white"
  >
    <a href="https://wa.me/+56944032001/">
      <button class="yellowBG p-2 uppercase text-black font-bold"
        >{buttonText}</button
      >
    </a>
  </div>
</header>
