---
const plans = [
  {
    profileURL: "plan_1.jpeg",
    plans:
      "Mensual $ 40.000 </br> Trimestral $ 110.000 </br> Semestral $ 200.000",
    price: 40000,
    title: "Plan total 3 días presenciales + planificación.",
  },
  {
    profileURL: "plan_2.webp",
    plans: "Mensual $ 30.000",
    title: "Pista + planificación",
  },
  {
    profileURL: "plan_3.webp",
    plans: "Mensual $ 20.000",
    title: "Solo pista",
  },
];
---

<div class="section py-12">
  <h1 class="yellowText text-5xl italic uppercase text-center">
    Planes de entrenamiento
  </h1>
  <div class="grid grid-cols-1 md:grid-cols-3">
    {
      plans.map((profile) => (
        <div class="flex flex-col m-4">
          <img
            src={"/images/" + profile.profileURL}
            alt="Testimonial"
            class="object-cover w-full h-96"
          />
          <div class="flex-1 yellowBG p-8">
            <p class="text-lg pb-4 font-bold">{profile.title}</p>
            <div set:html={profile.plans} />
          </div>
        </div>
      ))
    }
  </div>
</div>
